<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<section class="content">
  <script>
    var authorize = function() {
      console.log("I AM AUTHORIZING YOU");
      var p1 = document.getElementById;
    };
  </script>
  {% for perm in permissions %}
  <input type="checkbox" name="{{ perm }}" value="{{ perm }}" /> {{ perm
  }}<br />
  {% endfor %}
  <a href="{{ url }}">
    <button type="button" id="authorize" onclick="authorize()">
      AUTHORIZE
    </button>
  </a>
</section>
