{% extends 'nav.html' %} {% block content %}
<section class="content">
  <script>
    function submitWebhooks() {
      var checkboxes = document.querySelectorAll(
          'input[name="webhooks"]:checked'
        ),
        values = [];
      Array.prototype.forEach.call(checkboxes, function(el) {
        values.push(el.value);
      });
      alert(values);

      var data = {
        webhooks: values
      };

      url = "/mock_webhooks";
      return fetch(url, {
        method: "PUT", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, cors, *same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
          "Content-Type": "application/json"
          // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: JSON.stringify(data) // body data type must match "Content-Type" header
      })
        .then(res => res.json())
        .then(alert("Successfully subscribed to webhooks!"))
        .catch(error => console.log("Error:", error));
    }
  </script>
  {% for webhook, info in webhooks.items() %}
  <input type="checkbox" name="webhooks" value="{{ webhook }}" />
  <div style="display: inline-block;">
    <h4>{{ webhook }}</h4>
    <p>Type: {{ info.Type }}</p>
  </div>
  <br />
  {% endfor %}
  <button type="input" onclick="submitWebhooks()">SUBMIT WEBHOOKS</button>
</section>
{% endblock %}
